node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
.DS_Store
.git
.gitignore
README.md
Dockerfile
.dockerignore
**/.git
**/.gitignore
**/node_modules
**/README.md
**/Dockerfile
**/.dockerignore
